{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-weight: bold; font-family: Arial">HOTEL</h1>

    <table class="table" style="text-align: center">
        <thead>
            <tr class="bg-success">
                <th>NOM</th>
                <th>TYPE</th>
                <th>ADRESSE</th>
                <th>CHAMBRE</th>
                <th>CARACTERISTIQUE</th>
                <th>PRIX</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.type }}</td>
                <td>{{ hotel.adresse }}</td>
                <td>{{ hotel.supChambre }}</td>
                <td>{{ hotel.caracteristic }}</td>
                <td>{{ hotel.prix }}</td>
                <td>
                    <a  class="btn btn-success text-white p-1" style="text-decoration: none; padding-bottom: 5px" href="{{ path('app_hotel_show', {'id': hotel.id}) }}">Voir</a>
                    <a class="btn btn-warning text-white p-1" style="text-decoration: none;" href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <div style="text-align: center; padding-bottom: 10px">
                <a class="btn btn-primary text-white p-1"
                   style="text-decoration: none;" href="{{ path('app_hotel_new') }}">Ajouter</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
