{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="text-align: center">{{ theme_voyage.name }}:&nbsp;{{ theme_voyage.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="bg-warning">N°</th>
                <td>{{ theme_voyage.id }}</td>
            </tr>
            <tr>
                <th class="bg-warning">Nom</th>
                <td>{{ theme_voyage.name }}</td>
            </tr>
            <tr>
                <th class="bg-warning">Titre</th>
                <td>{{ theme_voyage.titre }}</td>
            </tr>
            <tr>
                <th class="bg-warning">Caracteristique</th>
                <td>{{ theme_voyage.caracteristique }}</td>
            </tr>
            <tr>
                <th class="bg-warning">Prix</th>
                <td>{{ theme_voyage.prix }}</td>
            </tr>
        </tbody>
    </table>
<div style="text-align: center; display: flex; padding-bottom: 75px">
    <a class="btn btn-secondary text-white p-1 "style="text-decoration: none;" href="{{ path('app_theme_voyage_index') }}">Retour</a>&nbsp;

    <a class="btn btn-warning text-white p-1 "style="text-decoration: none;" href="{{ path('app_theme_voyage_edit', {'id': theme_voyage.id}) }}">Modifier</a>&nbsp;

    {{ include('theme_voyage/_delete_form.html.twig') }}
</div>
{% endblock %}
