{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES MEILLEURS SITE TOURISTIQUE PAR PROVINCE
            </h1>
            <div class="row"
                 style="font-weight: bold; text-align: center;font-size:20px; padding-top: 2px; padding-bottom:12px">
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesitediego') }}">DIEGO SUAREZ</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesitemajunga') }}">MAJUNGA</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesitetamatave') }}">TAMATAVE</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesitefianarantsoa') }}">FIANARANTSOA</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesiteantananarivo') }}">ANTANANARIVO</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-4 p-5 bg-dark text-white rounded">
                        <a style="text-decoration:none;color: #FFFFFF" href="{{ path('app_principesitetulear') }}">TULEAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}