{% extends 'base.html.twig' %}

{% block title %}Guide d'information{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1 style="padding: 20px; font-weight: bold; text-align: center; font-family: 'Arial Black'">
                LES PRINCIPAUX LIEUX TOURISTIQUES DE MADGASCAR, A VISITER
            </h1>
            <h2 style="padding-bottom: 20px">Les sites touristiques par province:</h2>
            <div class="row" style="padding-bottom: 30px">
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesitediego') }}">DIEGO SUAREZ</a>
                </div>
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesitemajunga') }}">MAJUNGA</a>
                </div>
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesitetamatave') }}">TAMATAVE</a>
                </div>
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesitetulear') }}">TULEAR</a>
                </div>
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesitefianarantsoa') }}">FIANARANTSOA</a>
                </div>
                <div class="bg-dark col-md-2 p-5">
                    <a href="{{ path('app_principesiteantananarivo') }}">ANTANANARIVO</a>
                </div>
            </div>
        </div>
    </div>









{% endblock %}