{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-weight: bold; font-family: Arial">Info Client</h1>

    <table class="table" style="text-align: center">
        <thead>
            <tr class="bg-warning">
                <th>NOM</th>
                <th>PRENOM</th>
                <th>ADRESSE</th>
                <th>EAMIL</th>
                <th>PHONE</th>
                <th>CIN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for info_client in info_clients %}
            <tr>
                <td>{{ info_client.name }}</td>
                <td>{{ info_client.prenom }}</td>
                <td>{{ info_client.adresse }}</td>
                <td>{{ info_client.email }}</td>
                <td>{{ info_client.phone }}</td>
                <td>{{ info_client.CIN }}</td>
                <td>
                    <a class="btn btn-success text-white p-1" style="text-decoration: none;" href="{{ path('app_info_client_show', {'id': info_client.id}) }}">Voir</a>
                    <a class="btn btn-warning text-white p-1" style="text-decoration: none;" href="{{ path('app_info_client_edit', {'id': info_client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <div style="text-align: center; padding-bottom: 10px">
                <a class="btn btn-primary text-white p-1"
                   style="text-decoration: none;" href="{{ path('app_info_client_new') }}">Ajouter</a>
            </div>

        {% endif %}
    {% endif %}
{% endblock %}
