{% extends 'base.html.twig' %}

{% block title %}InfoClient{% endblock %}

{% block body %}
    <h1>InfoClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ info_client.name }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ info_client.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ info_client.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ info_client.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ info_client.phone }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ info_client.genre }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ info_client.CIN }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ info_client.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_info_client_index') }}">back to list</a>

    <a href="{{ path('app_info_client_edit', {'id': info_client.id}) }}">edit</a>

    {{ include('info_client/_delete_form.html.twig') }}
{% endblock %}
