{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="text-align: center; font-weight: bold; font-family: Arial">LOCATION VOITURE</h1>

    <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th>TYPE</th>
                <th>CAPACITE</th>
                <th>PRIX</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for loc_voiture in loc_voitures %}
            <tr>
                <td>{{ loc_voiture.type }}</td>
                <td>{{ loc_voiture.capacite }}</td>
                <td>{{ loc_voiture.prix }}</td>
                <td>
                    <a class="btn btn-success text-white p-1" style="text-decoration: none;" href="{{ path('app_loc_voiture_show', {'id': loc_voiture.id}) }}">Voir</a>
                    <a class="btn btn-warning text-white p-1" style="text-decoration: none;" href="{{ path('app_loc_voiture_edit', {'id': loc_voiture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <div style="text-align: center; padding-bottom: 10px">
                <a class="btn btn-primary text-white p-1"
                   style="text-decoration: none;" href="{{ path('app_loc_voiture_new') }}">Ajouter</a>
            </div>

        {% endif %}
    {% endif %}
{% endblock %}
