{% extends 'base.html.twig' %}

{% block title %}Agence de voyage{% endblock %}

{% block body %}
    <h1 style="text-align: center">Activite:&nbsp;{{ activite.name }}</h1>

    <table class="table" style="text-align: center">
        <tbody>
            <tr>
                <th>N°</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ activite.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ activite.type }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ activite.prix }}</td>
            </tr>
        </tbody>
    </table>
<div style="text-align: center; display: flex; padding-bottom: 120px">
    <a class="btn btn-secondary text-white p-1 "style="text-decoration: none;" href="{{ path('app_activite_index') }}">Retour</a>&nbsp;

    <a class="btn btn-warning text-white p-1 "style="text-decoration: none;" href="{{ path('app_activite_edit', {'id': activite.id}) }}">Modifier</a>&nbsp;

    {{ include('activite/_delete_form.html.twig') }}
</div>
{% endblock %}
